.linkDetail {
    text-decoration: none;
}

.card {
    background-color: rgb(192, 224, 228);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: 0.3s;
    height: 320px;
    width: 320px;
    margin: 40px 20px 20px 20px;
    padding: 20px 20px 0px 20px;
    overflow: hidden;
    font-style: oblique;
    border: 3px solid rgb(34, 46, 110);
    transition: transform 0.3s ease;
}

.card:hover{
    box-shadow: 0px 0px 3px 3px rgb(162, 162, 162);
    transform: scale(1.1);
}

.card img {
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

.card h1 {
    text-align: center;
    font-size: 25px;
    color: rgb(34, 46, 110);
}