.landing {
    margin-top: 260px;
}

.h1 {
    margin-bottom: 40px;
    font-size: 40px;
    font-style: oblique;
    color: rgb(34, 46, 110);
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid rgb(34, 46, 110);
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: rgb(34, 46, 110);
    text-shadow: 0 1px #fff;
    margin: auto;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    font-style: oblique;
}
  
.button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}
  
.button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
  
.button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}